# Python Programming

Python is a dynamically typed, General Purpose Programming language that supports an object-oriented programming approach as well as a functional approach.
Python is also an interpreted and high-level programming language.
It was created by Guido Van Rossum in 1989.

## What is Python?
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Python syntax are easy compared to other languages.

# # Features of Python Programming 

*Easy to Learn and Implement

*Open Source

*Broad Standard Library

*Cross Platform

*Work on Interpreter Logic

*Multi-Paradigm Language

*High Level Programming

*Extendable Language

*Expressive Programming

*GUI Progrmming Support

*Integrate other programming languages

## Application Of Python

#Network Programming

#Data Analysis

#Robotics

#Website Development

#Application Development

#Dextop Application

#Game Development

#Web Scraping

#Data Visualization

#Calculation

#Maching Learning

#Artificial Intelligence

#3D Application Development

#Audio & Video Software Development

### Version:
After installation check the version of python by typing following command: ‘python --version’.

### Installing Packages:
To install packages in Python, we use the pip command. 
e.g. pip install "Package Name"

Following command installs pandas package in Python

pip install pandas

#### What is Syntax?
In simplest words, Syntax is the arrangement of words and phrases to create well-formed sentences in a language.

#### Python Comments
A comment is a part of the coding file that the programmer does not want to execute, rather the programmer uses it to either explain a block of code or to avoid the execution of a specific part of code while testing.

##### Single-Line Comments:
To write a comment just add a ‘#’ at the start of the line.

##### Multi-Line Comments:
To write multi-line comments you can use ‘#’ at each line or you can use the multiline string.

## Python Variables
Variables are containers that store information that can be manipulated and referenced later by the programmer within the code.

Data/Values can be stored in temparary storage spaces called Variables.

In python, the programmer does not need to declare the variable type explicitly, we just need to assign the value to the variable.

### Naming the Variable

It is always advisable to keep variable names descriptive and to follow a set of conventions while creating variables:

Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable name must start with a letter or the underscore character.
Variables are case sensitive.
Variable name cannot start with a number.

### Scope of variable:
The scope of the variable is the area within which the variable has been created. Based on this a variable can either have a local scope or a global scope.

#### Local Variable:
A local variable is created within a function and can be only used inside that function. Such a variable has a local scope.

In [1]:
icecream = "Vanilla"    #global variable
def foods():
    vegetable = "Potato"    #local variable
    fruit = "Lichi"         #local variable
    print(vegetable + " is a local variable value.")
    print(icecream + " is a global variable value.")
    print(fruit + " is a local variable value.")

foods()

Potato is a local variable value.
Vanilla is a global variable value.
Lichi is a local variable value.

##### Global Variable:
A global variable is created in the main body of the code and can be used anywhere within the code. Such a variable has a global scope.

In [2]:
print("Hello world")

Hello world

In [3]:
Rules:
# /variables are any combination of letter,digits.
# Variables are case sensitive.

SyntaxError: invalid syntax (1289287458.py, line 1)

In [ ]:
student="sam"
print(student)

In [ ]:
student="ram"
print(student)

## DataTypes In Python
Every variable is associated with a data-type.

*int: -   10,500

*float:-3.14,5.21

*Boolean:-True,False

*complex:-2+3j

*str:- sam,cat

In [ ]:
a1=10
print(type(a1))

In [ ]:
a1=3.14
print(type(a1))

In [ ]:
a1=True
print(type(a1))

In [ ]:
a1="hello world"
print(type(a1))

In [ ]:
a1=3+2j
print(type(a1))

### Data Conversion
The process of converting numeric data from one type to another is called as type conversion.
To convert from integer to float, we use float() function.

In [ ]:
num1 = -25
num2 = float(num1)
num3 = complex(num1)

print(num2)
print(num3)

### Type Casting
Similar to type conversion, type casting is done when we want to specify a type on a variable.

In [4]:
str1 = "7"          
str2 = "3.142"
str3 = "13"
num1 = 29
num2 = 6.67

print(int(str1))
print(float(str2))
print(float(str3))
print(str(num1))
print(str(num2))

7
3.142
13.0
29
6.67

# Operators In Python
Python has different types of operators for different operations. They are as follows:

## Arithmetic operaters
"+" :-Addition

"-":-Subtration

"*":- Multiplication

"/":-Division 

"%":- Modulus

"//":-Floor Division

#+, -, *, /, **, %, //

In [5]:
a=54
b=21

In [6]:
print(a,b)

54 21

In [7]:
print(a+b)

75

In [8]:
print(a-b)

33

In [9]:
print(a*b)

1134

In [10]:
print(a/b)

2.5714285714285716

In [11]:
print(a**2)

2916

In [12]:
print(a%b)

12

In [13]:
print(a//b)

2

#### Assignment operators:
These operators are used to assign values to variables.

In [14]:
c=a
c

54

In [15]:
a+=b
b

21

In [16]:
a-=b
b

21

In [17]:
a*b==b
b

21

### Bitwise operators:
Bitwise operators are used to deal with binary operations.

# 
Bitwise AND a&b

Bitwise OR a|b

Bitwise Not ~a

Bitwise XOR a^b

Bitwise (right shift)  a>>

Bitwise (left shift) b<<

### Comparison operators:
These operators are used to compare values.

# 
Equal  ==  a==b

Not Equal  !=  a!=b

Less Than  <  a>b

Greater Than  >  a<b

Less Than or Equal to  <=  a>=b

Greater Than or Equal to  >=  a<=b

# Identity operators:

is   (a is b)   Returns True if a and b are same

is not   (a is not b)   Returns True if a and b are not same

### Logical operators:
These operators are used to deal with logical operations.

# 
AND   and   a=2 and b=3

OR   or   a=2 or b=3

NOT   not   Not(a=2 or b=3)

### Membership operators:
in   (a in b)   Returns True if a is present in given sequence or collection

not in   (a not in b)   Returns True if a is not present in given sequence or collection

## Relational operaters

#<,>,==,!=

In [18]:
a=30
b=35

In [19]:
print(a<b)

True

In [20]:
print(a>b)

False

In [21]:
print(a==b)

False

In [22]:
print(a!=b)

True

#Logical operaters

#& |

In [23]:
a=True
b=False

In [24]:
print(a&b)

False

In [25]:
print(a|b)

True

In [26]:
print(b|a)

True

In [27]:
print(b&a)

False

In [28]:
print(b|b)

False

In [29]:
print(a|a)

True

# Python Tokens
Smallest meaningful Components in  Program

## Python Keywords
Keywords are special reserved words

In [30]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [31]:
print(len(keyword.kwlist))

35

## Python Identifiers
Identifiers are names used for variables, functions or objects
#### Rules:-
*NO special characters expect_(underscope)

*Identifiers are case sensitive

*First Letter cannot be a digit

In [32]:
student='amit'
print(student)

amit

In [33]:
Student="anil"
print(Student)

anil


## Python Literals
Literals are constants in Python 
# A
I'm a constant. I don't change

# Python Strings
Strings are sequence of characters enclosed within single quotes('....'), double quotes("....") or triple quotes('''....''')

In [34]:
a="hello world"
print(a)

hello world

In [35]:
str1='hello'
print(str1)

hello

In [36]:
str2="this is my laptop"
print(str2)

this is my laptop

In [37]:
str3='''this is
has lost
of gap to 
enterpriete'''
print(str3)

this is
has lost
of gap to
enterpriete

### Extracting Individual Characters

In [38]:
s="my name is abhi"
print(s)

my name is abhi

In [39]:
s[0]

'm'

In [40]:
s[5]

'm'

In [41]:
s[-1]

'i'

In [42]:
s[3:15]

'name is abhi'

In [43]:
s="my name is abhi"
print(s)

my name is abhi

### String Functions

In [44]:
len(s)

15

In [45]:
s.lower()

'my name is abhi'

In [46]:
s.upper()

'MY NAME IS ABHI'

In [47]:
s.replace('i','e')

'my name es abhe'

In [48]:
s.replace('abhi','abhishek')

'my name is abhishek'

In [49]:
s.count('i')

2

# Data-Structures in Python

## Tuple in Python
Tuple is an ordered collection of elements enlosed within(). Tuple are immutable.

In [50]:
t1=(1,True,2.45,5-7j)
print(type(t1))

<class 'tuple'>

### Extracting Individual Elements

In [51]:
print(t1)

(1, True, 2.45, (5-7j))

In [52]:
t1[0]

1

In [53]:
t1[-1]

(5-7j)

In [54]:
t1[1:4]

(True, 2.45, (5-7j))

### Tuple Basic Operators

In [55]:
t1=(1,3,2)
t2=(5,7,6)

In [56]:
print(t1,t2)

(1, 3, 2) (5, 7, 6)

In [57]:
print(t1+t2)

(1, 3, 2, 5, 7, 6)

In [58]:
print(t1*5+t2)

(1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 1, 3, 2, 5, 7, 6)

### Tuple Functions

In [59]:
print(t2)

(5, 7, 6)

In [60]:
print(min(t2))

5

In [61]:
print(max(t1))

3

# List in Python
List is an ordered collection of elements enclosed within[]. Lists are mutable.

In [62]:
l1=[1,True,3.24,'a']
print(type(l1))

<class 'list'>

### Extracting Individual Elements

In [63]:
print(l1)

[1, True, 3.24, 'a']

In [64]:
l1[0]

1

In [65]:
l1[1]

True

In [66]:
l1[-1]

'a'

### Modifying a list

In [67]:
print(l1)

[1, True, 3.24, 'a']

In [68]:
l1[0]=100
print(l1)

[100, True, 3.24, 'a']

In [69]:
l1.append(-58.12)
print(l1)

[100, True, 3.24, 'a', -58.12]

In [70]:
l2=['123',34,57,76]
print(l2)

['123', 34, 57, 76]

In [71]:
l2.reverse()
print(l2)

[76, 57, 34, '123']

In [72]:
l2.insert(3,'hello')
print(l2)

[76, 57, 34, 'hello', '123']

In [73]:
l3=['a','e','g','b','c','d']

In [74]:
l3.sort()
print(l3)

['a', 'b', 'c', 'd', 'e', 'g']

### List basic Operations

In [75]:
print(l1,l2)

[100, True, 3.24, 'a', -58.12] [76, 57, 34, 'hello', '123']

In [76]:
print(l1+l2)

[100, True, 3.24, 'a', -58.12, 76, 57, 34, 'hello', '123']

In [77]:
print(l2*5)

[76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123']

In [78]:
print(l2*5+l1)

[76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 76, 57, 34, 'hello', '123', 100, True, 3.24, 'a', -58.12]

## Dictionary in Python
Dictionary is an unordered collection of key-value pairs enclosed with {}.Dictionary is mutable

In [79]:
d1={'apple':220,'mango':540,'pineapple':340}
print(type(d1))

<class 'dict'>

### Extracting Keys and values

In [80]:
print(d1)

{'apple': 220, 'mango': 540, 'pineapple': 340}

In [81]:
d1.keys()

dict_keys(['apple', 'mango', 'pineapple'])

In [82]:
d1.values()

dict_values([220, 540, 340])

### Modifying a Dictionary

In [83]:
print(d1)

{'apple': 220, 'mango': 540, 'pineapple': 340}

In [84]:
d1['orange']=510
print(d1)

{'apple': 220, 'mango': 540, 'pineapple': 340, 'orange': 510}

### Dictionary Functions

In [85]:
print(d1)

{'apple': 220, 'mango': 540, 'pineapple': 340, 'orange': 510}

In [86]:
d2={'watermelon':500,'gauava':200}
print(d2)

{'watermelon': 500, 'gauava': 200}

In [87]:
d1.update(d2)
print(d1)

{'apple': 220, 'mango': 540, 'pineapple': 340, 'orange': 510, 'watermelon': 500, 'gauava': 200}

In [88]:
d1.pop('mango')

540

In [89]:
print(d1)

{'apple': 220, 'pineapple': 340, 'orange': 510, 'watermelon': 500, 'gauava': 200}

## Set in Python
Set is an unordered and unindexed collection of elements enclosed with{}.Duplicates are not allowed in set

In [90]:
s1={1,3.14,'star'}
print(s1)

{1, 3.14, 'star'}

In [91]:
s1={1,3.14,'star',3.14,2,1}
print(s1)

{1, 2, 3.14, 'star'}

### Set Operations

In [92]:
s1={12.2,45,258,'ghb',5+5j}

In [93]:
s1.add(False)
print(s1)

{'ghb', False, 258, (5+5j), 12.2, 45}

In [94]:
s1.update(['hello',254,])
print(s1)

{'ghb', False, 258, 'hello', (5+5j), 12.2, 45, 254}

In [95]:
s1.update([5+6j,'sparta'])
print(s1)

{'ghb', False, 258, 12.2, 'sparta', (5+5j), (5+6j), 'hello', 45, 254}

In [96]:
s1.remove('hello')
print(s1)

{'ghb', False, 258, 12.2, 'sparta', (5+5j), (5+6j), 45, 254}

In [97]:
s1.remove(False)
print(s1)

{'ghb', 258, 12.2, 'sparta', (5+5j), (5+6j), 45, 254}

In [98]:
s1.remove('sparta')
print(s1)

{'ghb', 258, 12.2, (5+5j), (5+6j), 45, 254}

### Set Functions

In [99]:
s1={1,2,3,4,5}
s2={6,7,8,9,0}

In [100]:
s1.union(s2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
s3={3,4,5,6,7,8,9}

In [102]:
s1.intersection(s3)

{3, 4, 5}

In [103]:
s2.intersection(s3)

{6, 7, 8, 9}

In [104]:
s1.intersection(s2)

set()

# If Statement
Example:- 1. If it's raining:Sit inside, else Go out and play cricket

2.If Marks>70: Get Ice-cream, else Give practice test

if....else Pseudo Code

*if(condition){statements to be executed....}

*else{Statement to be executed....}

In [105]:
a=21
b=23

In [106]:
if a<b:
    print("A is greater than B")

A is greater than B

In [107]:
if b>a:
    print("B is greater than A")   
else:
    print("A is greater than B")

B is greater than A

In [108]:
a=25
b=36
c=54

In [109]:
if (a>b) & (a>c):
    print("A is the greatest")
elif(b>a) & (b>c):
    print("B is the greatest")
else:
    print("C is the greatest")

C is the greatest

### If with tulple

In [110]:
tup1=('a','b','c')

In [111]:
if 'a' in tup1:
    print("value a is present")
else:
    print("value a is not present")

value a is present

### If with list

In [112]:
l1= ['a','b','c']

In [113]:
if l1[1]=='b':
    l1[1]='z'
    
print(l1)

['a', 'z', 'c']

### If with dictionary

In [114]:
d1={'k1':12,'k2':22,'k3':33}
print(d1)

{'k1': 12, 'k2': 22, 'k3': 33}

In [115]:
if d1["k3"]==33:
    d1['k3']=d1["k3"]+100
print(d1)

{'k1': 12, 'k2': 22, 'k3': 133}

# Range Function

In [159]:
# with 1 argument
range(5)
for n in range(5):
    print(n)

0
1
2
3
4

In [161]:
# with 2 arguments
for i in range(2,6):
    print(i)

2
3
4
5

In [168]:
# With 3 arguments
for m in range(1,20,-10):
    print(m*2)

# Looping Statements
Looping statement are used to repeat a task multile times.

Example:-1.Keep filling this buckect with a mug of water while it is not full.
2.Get your salary credited at the end of each month!

## While Loop

In [116]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [117]:
i=1
n=5
while i<=10:
    print(n,"*","i","=",n*i)
    i= i+1

5 * i = 5
5 * i = 10
5 * i = 15
5 * i = 20
5 * i = 25
5 * i = 30
5 * i = 35
5 * i = 40
5 * i = 45
5 * i = 50












### While with list

In [118]:
l1=[1,2,3,4,5,6]

In [119]:
i=0

In [120]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1
    
print(l1)

[101, 102, 103, 104, 105, 106]






## For Loop
For Loop is used to ilerate ove a sequence(tuple,list,dictionary..).This is the syntax of loop

In [121]:

for i in l1:
    print(l1)

[101, 102, 103, 104, 105, 106]
[101, 102, 103, 104, 105, 106]
[101, 102, 103, 104, 105, 106]
[101, 102, 103, 104, 105, 106]
[101, 102, 103, 104, 105, 106]
[101, 102, 103, 104, 105, 106]

In [122]:
l2=['mango','apple','orange','pineapp','grape','banana']

In [123]:
for j in l2:
    print(l2)

['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']
['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']
['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']
['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']
['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']
['mango', 'apple', 'orange', 'pineapp', 'grape', 'banana']

In [124]:
for i in l1:
    for j in l2:
        print(i,j)

101 mango
101 apple
101 orange
101 pineapp
101 grape
101 banana
102 mango
102 apple
102 orange
102 pineapp
102 grape
102 banana
103 mango
103 apple
103 orange
103 pineapp
103 grape
103 banana
104 mango
104 apple
104 orange
104 pineapp
104 grape
104 banana
105 mango
105 apple
105 orange
105 pineapp
105 grape
105 banana
106 mango
106 apple
106 orange
106 pineapp
106 grape
106 banana

In [125]:
l3=['book','pen','pencil','eraser','sarpner']
print(l3)

['book', 'pen', 'pencil', 'eraser', 'sarpner']

In [126]:
for i in l1:
    for j in l2:
        for k in l3:
            print(i,j,k)

101 mango book
101 mango pen
101 mango pencil
101 mango eraser
101 mango sarpner
101 apple book
101 apple pen
101 apple pencil
101 apple eraser
101 apple sarpner
101 orange book
101 orange pen
101 orange pencil
101 orange eraser
101 orange sarpner
101 pineapp book
101 pineapp pen
101 pineapp pencil
101 pineapp eraser
101 pineapp sarpner
101 grape book
101 grape pen
101 grape pencil
101 grape eraser
101 grape sarpner
101 banana book
101 banana pen
101 banana pencil
101 banana eraser
101 banana sarpner
102 mango book
102 mango pen
102 mango pencil
102 mango eraser
102 mango sarpner
102 apple book
102 apple pen
102 apple pencil
102 apple eraser
102 apple sarpner
102 orange book
102 orange pen
102 orange pencil
102 orange eraser
102 orange sarpner
102 pineapp book
102 pineapp pen
102 pineapp pencil
102 pineapp eraser
102 pineapp sarpner
102 grape book
102 grape pen
102 grape pencil
102 grape eraser
102 grape sarpner
102 banana book
102 banana pen
102 banana pencil
102 banana eraser
102 banana sarpner
103 mango book
103 mango pen
103 mango pencil
103 mango eraser
103 mango sarpner
103 apple book
103 apple pen
103 apple pencil
103 apple eraser
103 apple sarpner
103 orange book
103 orange pen
103 orange pencil
103 orange eraser
103 orange sarpner
103 pineapp book
103 pineapp pen
103 pineapp pencil
103 pineapp eraser
103 pineapp sarpner
103 grape book
103 grape pen
103 grape pencil
103 grape eraser
103 grape sarpner
103 banana book
103 banana pen
103 banana pencil
103 banana eraser
103 banana sarpner
104 mango book
104 mango pen
104 mango pencil
104 mango eraser
104 mango sarpner
104 apple book
104 apple pen
104 apple pencil
104 apple eraser
104 apple sarpner
104 orange book
104 orange pen
104 orange pencil
104 orange eraser
104 orange sarpner
104 pineapp book
104 pineapp pen
104 pineapp pencil
104 pineapp eraser
104 pineapp sarpner
104 grape book
104 grape pen
104 grape pencil
104 grape eraser
104 grape sarpner
104 banana book
104 banana pen
104 banana pencil
104 banana eraser
104 banana sarpner
105 mango book
105 mango pen
105 mango pencil
105 mango eraser
105 mango sarpner
105 apple book
105 apple pen
105 apple pencil
105 apple eraser
105 apple sarpner
105 orange book
105 orange pen
105 orange pencil
105 orange eraser
105 orange sarpner
105 pineapp book
105 pineapp pen
105 pineapp pencil
105 pineapp eraser
105 pineapp sarpner
105 grape book
105 grape pen
105 grape pencil
105 grape eraser
105 grape sarpner
105 banana book
105 banana pen
105 banana pencil
105 banana eraser
105 banana sarpner
106 mango book
106 mango pen
106 mango pencil
106 mango eraser
106 mango sarpner
106 apple book
106 apple pen
106 apple pencil
106 apple eraser
106 apple sarpner
106 orange book
106 orange pen
106 orange pencil
106 orange eraser
106 orange sarpner
106 pineapp book
106 pineapp pen
106 pineapp pencil
106 pineapp eraser
106 pineapp sarpner
106 grape book
106 grape pen
106 grape pencil
106 grape eraser
106 grape sarpner
106 banana book
106 banana pen
106 banana pencil
106 banana eraser
106 banana sarpner

## Python Functions 
Function is a block of code which performs a specific task

In [127]:
def hello():
    print('hello world')

In [128]:
hello()

hello world

In [129]:
def add_10(x):
    return x + 10

In [130]:
add_10(5)

15

In [131]:
add_10(11)

21

In [132]:
def odd_even(x):
    if x%2==0:
        print(x,"is an even number")
    else:
        print(x,"is an odd number")

In [133]:
odd_even(10)

10 is an even number

In [134]:
odd_even(9)

9 is an odd number

In [135]:
g=lambda x:x*x

In [136]:
g(5)

25

In [137]:
g(10)

100

### Lambda with filter

In [138]:
l1=[45,65,35,85,59,45,75,78,76,43]
final_list1=list(filter(lambda x: (x%2!=0),l1))
print(final_list1)

[45, 65, 35, 85, 59, 45, 75, 43]

In [139]:
l1=[45,65,35,85,59,45,75,78,76,43]
final_list2=list(filter(lambda x: (x%2==0),l1))
print(final_list2)

[78, 76]

### Lambda with map

In [140]:
l1=[1,2,3,4,5,6,7,8,9]
list_final_new=list(map(lambda x: x*2,l1))
print(list_final_new)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [141]:
from functools import reduce
sum=reduce(lambda x,y: x+y,l1)
print(sum)

45

# Python Object Oriented Programming 
You are surrounded with Objects!!
## Classes
Classes is a template/blue-print for real-world entities
### Class in Python 
Class is a user-defined data-type 
## Objects
Objects are specific instances of a class
### Objects in Python
Specific instances of Mobile data type
Specific instances of integer data type
#### Creating the first Class

In [142]:
class Phone:
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [143]:
p1 = Phone()

In [144]:

p1.make_call()

I am making a call

In [145]:
p1.play_game()

I am playing a game

#### Adding parameters to the class

In [146]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost
    def make_call(self):
        print("make a call")
    def play_game(self):
        print("Play a game")

In [147]:
p2 = Phone()

In [148]:
p2.set_color("Red")

In [149]:
p2.show_color()

'Red'

In [150]:
p2.set_cost(5000)

In [151]:
p2.show_cost()

5000

In [152]:
p2.make_call()

make a call

In [153]:
p2.play_game()

Play a game

#### Creating a class with Constructor

In [154]:
class Employee:
    def __init__(self,name,age,gender,salary,address):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        self.address= address
    def show_employee_details(self):
        print("Name of employee is ",self.name)
        print("Age of employee is ",self.age)
-+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++        print("Salary of employee is ",self.salary)
        print("Address of employee is ",self.address)

IndentationError: unexpected indent (2199635890.py, line 12)

#### Instantiating Object

In [ ]:
e1 = Employee('Ram',32,'Male',50000,"Vasai-Virar")

In [ ]:
e1.show_employee_details()

### Inheritance in Python
With inheritance one class can derive the properties of another class

##### Inheritance Example:-

In [ ]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
    def show_vehicle_details(self):
        print("Mileage of vehicle is ",self.mileage)
        print("Cost of vehicle is ",self.cost)
        print("I am a vehicle")

In [ ]:
v1 = Vehicle(300,500000)

In [ ]:
v1.show_vehicle_details()

In [ ]:
class Car(Vehicle):
    def show_car_details(self):
        print("I am a car")

In [ ]:
c1=Car(600,98900)

In [ ]:
c1.show_car_details()









#### Over-riding init method

In [ ]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres=tyres
        self.hp=hp
        
    def show_car_details(self):
        print("Number of tyres is ",self.tyres)
        print("Value of horse power is ",self.hp)
        print("I am a car")

In [ ]:
c1 = Car(600,1000000,6,699)

In [ ]:
c1.show_vehicle_details()

In [ ]:
c1.show_car_details()

### Type of Inheritance

#### Multiple Inheritance in Python

In [ ]:
#Parent class one
class Parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
    def show_string_one(self):
        return self.str1

In [ ]:
#Parent class two
class Parent2:
    def assign_string_two(self,str2):
        self.str2 = str2
    def show_string_two(self):
        return self.str2

In [ ]:
#Child class
class Child(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
    def show_string_three(self):
        return self.str3

In [ ]:
my_child = Child()

In [ ]:
my_child.assign_string_one("I am string of parent 1")
my_child.assign_string_two("I am string of parent 2")
my_child.assign_string_three("I am string of parent 3")

In [ ]:
my_child.show_string_one()

In [ ]:
my_child.show_string_two()

In [ ]:
my_child.show_string_three()

#### Multi-Level Inheritance in Python:-

In [ ]:
class Parent:
    def get_name(self,name):
        self.name=name
    def show_name(self):
        return self.name

In [ ]:
class Child(Parent):
    def get_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

In [ ]:
class Grandchild(Child):
    def get_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [ ]:
g1= Grandchild()

In [ ]:
g1.get_name("avnish")
g1.get_age(21)
g1.get_gender('male')

In [ ]:
g1.show_name()

In [ ]:
g1.show_age()

In [ ]:
g1.show_gender()

# Libraries in Python:-
Python library is a collection of functions and methods that allows you to perform many actions without writing your code
## 1:Python Numpy
Numpy stands for Numerical python and is the core library for numeric and scientific computing.
It consists of multi-dimensional array objects and a collection of routines for processing those arrays.

##### Creating Numpy Array

In [ ]:
# Single-dimensional Array

In [ ]:
import numpy as np

In [ ]:
l1=[1,2,3,4]

In [ ]:
n1=np.array([l1])
(n1)

In [ ]:
type(n1)

In [ ]:
# Multi-dimensinal Array

In [ ]:
n2=np.array([[1,2,3,4],[5,6,7,8]])
n2

In [ ]:
n3=np.array([[[1,2,3,4],[2,3,4,5]],[[4,5,6,7],[5,6,7,8]]])
print(n3)
print(type(n3))
print(n3.ndim)

In [ ]:
n1=np.array(23)
n2=np.array([2,5,4,6])
n3=np.array([[1,2,5,6],[4,5,6,8]])
n4=np.array([[[1,2,3,4],[2,3,4,5]],[[3,4,5,6],[4,5,6,7]]])
print(n1.ndim)
print(n2.ndim)
print(n3.ndim)
print(n4.ndim)

#### Initializing Numpy Array

In [ ]:
import numpy as np

In [ ]:
#Initializing Numpy Array with zero

In [ ]:
n3=np.zeros((3,5))
print(n3)

In [ ]:
#Initializing Numpy Array same number

In [ ]:
n4= np.full((3,3),55)
print(n4)

In [ ]:
#Initializing Numpy Array Within a Range

In [ ]:
n4=np.arange(50,101)
print(n4)

In [ ]:
n5=np.arange(50,500,10)
print(n5)

In [ ]:
#Initializing Numpy Array with randon numbers

In [ ]:
n6=np.random.randint(100,200,10)
print(n6)

## Numpy-Shape
Checking the shape of Numpy arrays

In [ ]:
n2=np.array([[1,2,3,4,5],[5,6,7,8,9]])
print(n2)
print(n2.shape)
print(type(n2))
print(n2.ndim)

In [ ]:
n2.shape = (5,2)
print(n2)
print(type(n2))
print(n2.ndim)

In [ ]:
n2.shape = (10,1)
print(n2)
print(type(n2))
print(n2.ndim)

### Joining Numpy Arrays

In [ ]:
n1=np.array([1,2,3,4])
n2=np.array([5,6,7,8])

In [ ]:
arr=np.concatenate((n1,n2))
print(arr)

In [ ]:
np.vstack((n1,n2))

In [ ]:
np.hstack((n1,n2))

In [ ]:
np.column_stack((n1,n2))

In [ ]:
np.intersect1d(n1,n2)

In [ ]:
np.setdiff1d(n1,n2)

In [ ]:
np.setdiff1d(n2,n1)

#### Splitting

In [ ]:
arr=np.array([1,2,3,4,5,6,7,8,9])
new_arr=np.array_split(arr,5)
print(new_arr)

## ravel & flatten
converts multidimensional array into 1D Array

In [ ]:
m=np.array([[[1,2,3,4],[3,4,5,6],[5,6,7,8]]])
print(m)
a=m.flatten()
print(a)

In [ ]:
n=np.array([[1,23,4,5],[53,34,34,34]])
n.ravel()

In [ ]:
#Unique funtion
b=np.unique(a)
print(b)
c=np.unique(a,return_index=True,return_counts=True)
print(c)

In [ ]:
#Delete
d=np.delete(a,[8])
print(d)

In [ ]:
np.delete(n,1,axis=0)

### Numpy Array Mathematics

#### ADDITION OF NUMPY ARRAYS

In [ ]:
print(n1)
print(n2)
print(n1,n2)

In [ ]:
np.sum([n1,n2])

In [ ]:
np.sum([n1,n2],axis=0)

In [ ]:
np.sum([n1,n2],axis=1)

In [ ]:
print(n1)
print(n1+5)
print(n1-2)
print(n1*2)
print(n1/2)

In [ ]:
print(n1+5,n2+8,n1-7,n2*2,n1*5)

### Numpy Math Functions

In [ ]:
n1 =np.random.randint(1,50,12)
print(n1)

#### Mean,Median,Standard Deviation

In [ ]:
np.mean(n1)

In [ ]:
np.median(n1)

In [ ]:
np.std(n1)

#### Numpy Save & Load

In [ ]:
np.save('myarray',n1)

In [ ]:
new_n1=np.load('myarray.npy')
print(new_n1)

### Numpy Array Indexing

In [ ]:
print(n2[0]) # In one dimension
print(n3[1,2])# In two dimension

##### Add Elements

In [ ]:
print(n3[1,1]+n3[1,3])
print(n3)
print(n3*5)

In [ ]:
#Slicing in one dimension array
print(n2[0:3])
print(n2[1::2])

In [ ]:
#IN 2D Array
print(n3[1,1:4])

In [ ]:
#In 3D Array
print(n4[0,1,:3])

In [ ]:
arr=np.array(['a','b','c','d'])
print(arr.dtype)

In [ ]:
arr1=np.array([1,2,3,4],dtype='i4')
print(arr1)
print(arr1.dtype)

# PYTHON PANDAS
Pandas stands for Panel Data and is the core library for manipulation and data analysis.
It consists of single and multi-dimensional data-structures for data-manipulation.

## Pandas Data Object

Series Object is one-dimensional labeled array

In [ ]:
import pandas as pd

In [ ]:
s1=pd.Series([1,2,3,4,5])
print(s1)

In [ ]:
print(type(s1))

#### Changing Index

In [ ]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s1)

### Series object from Dictionary

In [ ]:
s4=pd.Series({'k1':100,'k2':200,'k3':300})
print(s4)

#### Changing Index position

In [ ]:
s5=pd.Series({'k1':100,'k2':200,'k3':300},index=['k3','k2','k1'])
print(s5)

#### Extracting Individual Elements

In [ ]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
print(s1)

In [ ]:
s1[5:]

In [ ]:
s1[:-5]

In [ ]:
s1[:4]

### Basic Math Operators on Series

In [ ]:
print(s1+10)

In [ ]:
print(s1/2)

In [ ]:
s2=pd.Series([10,20,30,40,50,60,70,80,90])
print(s2,s1)

In [ ]:
print(s1+s2)

## Pandas Dataframe
#Dataframe is a 2-dimensional labelled data stucture. A data-frame comprises of rows and coloumns

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame({'Name':['Anne','bob','mat','sun'],'Marks':[75,65,84,69]})

### Dataframe In-Built Functions

In [ ]:
iris=pd.read_excel(r"C:\Users\USER\Downloads\Sample-Superstore-Subset-Excel (1).xlsx")
iris

In [ ]:
iris.head()

In [ ]:
iris.tail()

In [ ]:
iris.shape

In [ ]:
iris.describe()

In [ ]:
iris.iloc[5:10,2:]

In [ ]:
iris.loc[0:8,("Unit Price","Shipping Cost")]

### Dropping Column

In [ ]:
iris.drop('Ship Mode',axis=1)

In [ ]:
iris.drop([4,5,6,8,9],axis=0)

### More Pandas Functions

In [ ]:
iris.min()

In [ ]:
iris.max()

In [ ]:
iris.mean()

In [ ]:
iris.median()

In [ ]:
def double_make(s):
    return s*2

In [ ]:
iris[['Unit Price','Shipping Cost']].apply(double_make)

In [ ]:
iris['Product Category'].value_counts()

In [ ]:
iris.sort_values(by='Region')

# Python Matplotlib
Matplotlib is a python library used for data Visualizatiion.You can create bar-plots,scatter-plots, histograms and a lot more with matplotlib

### Line Plot

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
x= np.arange(10,110,10)
print(x)

In [ ]:
y=3*x
print(y)

In [ ]:
plt.plot(x,y,color='g',linestyle=':',linewidth=5)
plt.title("Line Plot")
plt.xlabel('X-axis')
plt.ylabel('Y-axis')

##### Changing Line Aesthetics

In [ ]:
y1=2*x
y2=3*x
print(y2,y1)

In [ ]:
plt.plot(x,y1,color='r',linestyle=':')
plt.plot(x,y2,color='y',linewidth=4)
plt.title("two Lines in a Plot")
plt.grid(True)
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.show()

In [ ]:
plt.subplot(2,1,1)
plt.plot(x,y1,color='r',linestyle=':')



plt.subplot(2,1,2)
plt.plot(x,y2,color='y',linewidth=4)
plt.title("two Lines in a Plot")
plt.grid(True)
plt.xlabel('X-axis')
plt.ylabel('Y-axis')

## Bar Plot

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
student={'bob':87,'jully':91,'anu':65,'anit':45}

In [ ]:
names =list(student.keys())
print(names)

In [ ]:
values=list(student.values())
print(values)

In [ ]:
plt.bar(names,values,color='r',linewidth=5)
plt.title('Distribution of student marks')
plt.xlabel('Names of students')
plt.ylabel('Marks of students')







### Horizontal Bar Plot

In [ ]:
plt.barh(names,values,color='g')
plt.title('Distribution of student marks')
plt.xlabel('Names of students')
plt.ylabel('Marks of students')

## Scatter Plot

In [ ]:
x=[10,20,30,40,50,60,70,80,90]
y=[5,6,2,4,3,8,9,7,1]
print(x)
print(y)

In [ ]:
plt.scatter(x,y, marker='*',s=100)

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
y=[5,6,2,4,3,8,9,7,1]
z=[5,8,2,9,1,3,7,5,4]

In [ ]:
plt.scatter(x,y,marker="*")
plt.scatter(x,z)

In [ ]:
x=[10,20,30,40,50,60,70,80,90]
y=[5,6,2,4,3,8,9,7,1]
z=[5,8,2,9,1,3,7,5,4]

In [ ]:
plt.subplot(1,2,1)
plt.scatter(x,y, marker='*',s=100)
plt.subplot(1,2,2)
plt.scatter(x,z,s=100,c='r')

## Histogram

In [ ]:
data=[5,9,4,6,2,3,1,5,6,7,8,9,4,5,6,5,2,2,1,6,4,6,3,2]

In [ ]:
plt.hist(data,color='r',bins=5)

##### Working with a dataset

In [ ]:
iris.head()

In [ ]:
plt.hist(iris['Shipping Cost'],color='g')
plt.show()

## Box-Plot

In [ ]:
#Creating data

In [ ]:
one=[1,2,3,4,5,6,7,8,9]
two=[5,4,7,8,9,6,3,2,1]
three=[1,6,7,9,8,5,4,2,3]

In [ ]:
data=list([one,two,three])
print(data)

In [ ]:
plt.boxplot(data)
plt.show()

## Violin-PLot

In [ ]:
print(one)
print(two)
print(three)

In [ ]:
plt.violinplot(data)
plt.show()

## Pie Chart

In [ ]:
fruit=['apple','mango','orange','guava']
rates=[100,60,80,30]

In [ ]:
plt.pie(rates,labels=fruit)
plt.show()

In [ ]:
plt.pie(rates,labels=fruit,autopct='%0.1f%%',colors=['yellow','blue','green','red','orange'])
plt.show()

## DoughNut Chart

In [ ]:
plt.pie(rates,labels=fruit,radius=2)
plt.pie([100],radius=1,colors=['w'])

plt.show()

# Sea-Born Line Plot

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
"Omit SeaBorn"